header{
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   z-index: 1000;
   background-color: white;
   box-shadow: 0 1px 6px o rgb(32 33 36 / 5%);
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: all .6s;
}
.nav-list{
    display: flex; 
    list-style-type: none;
}
.nav-list a{
    display: inline-block;
    margin: 0 30px;
    font-size: small;
    font-weight: 900;
    color: black;
}
.logo{
    display: inline-block;
    margin: 0 30px;
    font-size: large;
    font-weight: 5900;
    color: black;

}
.nav-icon{ 
   
}